$backgroundGradient: linear-gradient(315deg, #000000 0%, #2d3436 74%);
$colorBlueGray: #2d3436;
$colorGray: #b8b8b8;
$colorWhite: #ffffff;
$colorWaterBlue: #57b7eb;
$colorSkyBlue: #4891d3;
$fontRighteous: 'Righteous', cursive;
$fontSarala: 'Sarala', sans-serif;
$weight400: 400;
$fontSize18: 1.8rem;
$fontSize24: 2.4rem;